.promo-banner{
    height: 150px;
    background : url('../../assets/images/promo-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.sub-product-container, .item-container{
    display: flex;

}

.item-container{
	margin-bottom: 25px;
}
.side-tool-bar{
    width: 15%;
    min-width: 120px;
}
.mat-toolbar-row{
	height: 30px;
}
