<hr/>
<hr/>
<div class="promo-banner"></div>
<hr/>
<div class="sub-product-container">
	<mat-toolbar class="side-tool-bar">
		<mat-toolbar-row class="mat-toolbar-row" 
			*ngFor="let item of brands;let i = index">
				<button mat-button color="primary" 
					[routerLink]="['/sub-products',item.name ]"
					>{{item.name}}</button>
		</mat-toolbar-row>
	</mat-toolbar>
	<div *ngIf="items">
		<div *ngFor="let item of items" >
			<h4 >Title </h4>
				<hr>
			<h4><a [routerLink]="['/product-info', item._id]" >{{item.title}}</a></h4>
			<h4>Description </h4>
				<hr>
			<h6>{{item.description}}</h6>
		</div>
	</div>	
</div>		
