<mat-tab-group (selectedTabChange)="btnClick($event)" [selectedIndex]="selectedTab">
  <mat-tab label="Overview" > 
  		<div class="product-content">
  			<img alt="Image not found" [src]="'../../assets/images/160/' + 			productInfo.images[productInfo.mainImageIndex]">
  			<div>
				<h4 >Title </h4>
				<h4>{{productInfo.title}}</h4>
				<hr>
				<h4>Description </h4>
				<h6>{{productInfo.description}}</h6>
			</div>
		</div>
  </mat-tab>
  <mat-tab label="Comments" > Comments </mat-tab>
</mat-tab-group>