<button mat-button [matMenuTriggerFor]="menu">
	<div class="header-cart navbar-nav">
	    <button class="btn btn-default">
	        <span class="cart-title">Shopping cart</span>
	        <div *ngIf="(totalItems) else noItems">
		        <span class="label label-info cart-item"> {{totalItems}} items</span>
		        <span class="label label-success cart-item"> 
		        	{{totalPrice | currency : '$'}}</span>
		    </div>
		    <ng-template #noItems>
		    	<span class="cart-item">  is empty</span>
		    </ng-template>
	    </button>
	</div>
</button>

<mat-menu #menu="matMenu">
  	<!-- <div *ngIf="cart else cartEmpty" *ngFor="let mobile of cart">
  		<div> Title : {{mobile.mobileTitle}}</div>
  		<button mat-button >Procced to check out</button> 
  	</div> -->
  	<!-- <ng-template #cartEmpty>Seems like you havent got salary</ng-template> -->
</mat-menu>

