.red{
	background:red;
}
.blue{
	background:blue;
}
.promo-banner{
    height: 150px;
    background : url('../../assets/images/promo-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
}