<div class="promo-banner" ></div>
<hr/>

<div class="sub-product-container">
	<mat-toolbar class="side-tool-bar">
		<mat-toolbar-row class="mat-toolbar-row" (click)="rowClick(0)" >
				<button mat-button color="primary">Overview</button>
		</mat-toolbar-row>
		<mat-toolbar-row class="mat-toolbar-row" (click)="rowClick(1)" >
				<button mat-button color="accent">Comments</button>
		</mat-toolbar-row>
		<mat-toolbar-row class="mat-toolbar-row" (click)="goBack()">
				<button mat-button color="warm">Go Bank</button>
		</mat-toolbar-row>
	</mat-toolbar>
	<div class="content-info" >
  		<product-content *ngIf="productContent" [productInfo]="productContent" 
  		(contentBtnClick)="changedHandler($event)"></product-content>
  	</div>
</div>	
