.nav-bar{
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999999;
	.fill-remaining-space{
		flex: 1 1 auto;
	}
	.icon-center{
		font-size:15px;
	    align-items: center;
    	display: flex;
	}
	.login{
		margin-right : 7px;
	}
	.register{
		margin-left:7px;
	}
}