<div style="text-align:center">
	<carausel ></carausel>
	<brand-nav></brand-nav>
</div>
<div class="all-mobiles">
	<div class="text-region">
		<span>Latest goods</span>
		<div class="sort-by" >
			<span>Sort by:</span>
			<div ngbDropdown class="d-inline-block">
			<button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>	
				{{sortBy[currentSort].title}} </button>
				<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
					<button ngbDropdownItem (click)="sortByButton('dec')">
						Price Down</button>
					<button ngbDropdownItem (click)="sortByButton('inc')">
						Price Up</button>
				</div>
	    	</div>
		</div>
	</div>

	<div class="products">
		<products [sortByMethod]="currentSort"></products>
	</div>
</div>